@page {
	size: 100mm 20mm;
	margin: 0;
}
body { margin: 0 }
.sheet {
  margin: 0;
  position: relative;
  box-sizing: border-box;
  page-break-after: always;

  overflow: visible;
  height: auto !important;
}

/** For screen preview **/
@media screen {
  body { background: #e0e0e0 }
  .sheet {
    background: white;
    box-shadow: 0 .5mm 2mm rgba(0,0,0,.3);
    margin: 5mm auto;
  }
}

/** For screen preview **/
@media print {

    .no-print, .no-print * {
        display: none !important;
    }
}

@media print {
    a[href]:after {
        content: none !important;
    }
}